# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# VS stuff
build
ipch
*.sdf
*.opensdf
*.suo
*.vcxproj
*.vcxproj.filters
*.sln

# VIM stuff
*.swp

# Xcode stuff
build_xc

*.user
*.user.*
*~

# build system
build.*/
extdep/install
extdep/download
/cmake-build-*/

*.pyc

# MacOS Development
.DS_Store
# CocoaPods
Pods/
Podfile.lock
# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
*.xcuserstate
profile
*.moved-aside
DerivedData
project.pbxproj

# JetBrains stuff
.idea/

doc/html
*.autosave
node_modules/

# vscode
.vscode/

.vs/
x86/
x64/
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
_3rdParty/
cmake_install.cmake
ethminer-buildinfo.dir/
ethminer/CMakeFiles/
ethminer/Release/
ethminer/buildinfo.c
ethminer/buildinfo.h
ethminer/buildinfo.json
ethminer/buildinfo.ps1
ethminer/buildinfo.sh
ethminer/cmake_install.cmake
ethminer/ethminer.dir/
ethminer/gitinfo.txt
libapicore/CMakeFiles/
libapicore/Release/
libapicore/apicore.dir/
libapicore/cmake_install.cmake
libdevcore/CMakeFiles/
libdevcore/Release/
libdevcore/cmake_install.cmake
libdevcore/devcore.dir/
libethash-cl/CMakeFiles/
libethash-cl/Release/
libethash-cl/cmake_install.cmake
libethash-cl/ethash-cl.dir/
libethash-cl/ethash.h
libethash-cl/kernels/CMakeFiles/
libethash-cl/kernels/cmake_install.cmake
libethash-cuda/CMakeFiles/
libethash-cuda/cmake_install.cmake
libethash-cuda/ethash-cuda.dir/
libethcore/CMakeFiles/
libethcore/Release/
libethcore/cmake_install.cmake
libethcore/ethcore.dir/
libhwmon/CMakeFiles/
libhwmon/Release/
libhwmon/cmake_install.cmake
libhwmon/hwmon.dir/
libpoolprotocols/CMakeFiles/
libpoolprotocols/Release/
libpoolprotocols/cmake_install.cmake
libpoolprotocols/poolprotocols.dir/
libethash-cpu/Release/
libethash-cpu/ethash-cpu.dir/


